.pricing-section {
  background-color: #f5f2f6;
  padding: 0;
  text-align: center;
}

.pricing-section h2 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 20px;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  transition: transform 0.2s ease;
}
.plan-head {
  font-weight: 900;
  font-weight: bold;
}

.pricing-card {
  background-color: #a51ef3;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: calc(33.33% - 20px);
  margin: 10px;
}

.pricing-card h3 {
  font-size: 20px;
  color: #fefbfb;
  font-weight: 700;
  margin-bottom: 10px;
}

.price {
  font-size: 24px;
  color: #ffffff;
  margin: 10px 0;
}

.features-list {
  list-style-type: none;
  padding: 0;
}

.features-list li {
  font-size: 16px;
  color: #fdfbfb;
  margin: 5px 0;
}

.choose-plan-button {
  background-color: #f20d0d;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choose-plan-button:hover {
  background-color: #0aa34f;
  transform: scale(1.05);
}
.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

@media (max-width: 768px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    width: 90%;
    margin: 10px 0;
  }
}
